body, html {
  margin: 0;
  height: 100%;
  background-color: #193e14;
}

#scene-container {
    min-height: 0;
    position: relative;
}

.navbar {
    background-color: #338129 !important;
}

.btn-success {
    background-color: #338129 !important;
    border-color: #338129 !important;
}

.btn-success:hover {
    background-color: #338129 !important;
    border-color: #338129 !important;
}

.sniglet-regular {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sniglet-extrabold {
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
}
